.header-container {
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;
    background-color: #f85c70;

}
@media (max-width: 600px) {
    .header-container {
        height: 50px;
    }
}
.content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
@media (max-width: 600px) {
    .content {
        width: 95%;
    }
}
.home-nav {
    display: flex;
    align-items: center;
}
.home-nav a {
    color: inherit;        /* Makes the color the same as the parent element */
    text-decoration: none; /* Removes underline */
    background-color: transparent; /* Ensures no background color */
    border: none;          /* Removes any borders */
    padding: 0;            /* Resets padding */
    margin: 0;             /* Resets margin */
}
