.home-container{
    margin: 50px auto auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 70px);
    width: 70%;
}
@media (max-width: 600px) {
    .home-container {
        width: 95%;
        margin: 20px auto auto;

    }
}
.w-25{
    width: 25%;
    @media (max-width: 600px) {
       
            width: 50%;
            margin: 20px auto auto;
    
        
    }
}
.w-50{
    width: 50%;
   
    @media (max-width: 600px) {
       
            width: 100%;
            margin: 20px auto auto;
    
        
    }
}
.flex{
    display: flex;
    width: 100%;
}

@media (max-width: 600px) {
    .flex {
        flex-direction: column; 
    }
}
ul {
    margin: 0;      /* Removes the default margin */
    padding: 0;     /* Removes the default padding */
    list-style: none; /* Removes the default list-style (bullets) */
}
ul li {
    font-size: .8rem;
    font-weight: 700;
    padding: 3px 5px;
    color: #f85c70;
}
.green span{
    font-size: .8rem;
    font-weight: 700;
    color: white;
    background-color: #006400;
    padding: 3px 5px;
    border-radius: 3px;
}
.blue span{
    font-size: .8rem;
    font-weight: 700;
    color: white;
    background-color: #1E90FF;
    padding: 3px 5px;
    border-radius: 3px;
}
.card-container{
    display: flex;
    padding-right: 20px;
    @media (max-width: 600px) {
            flex-direction: column;
            padding-right: auto;
            padding-bottom: 20px;
}
}
/* @media (max-width: 600px) {
    .w-50, .w-25 {
    }
} */
.card-screen{
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
       flex-direction: column;      
}
}


/* Default styles (for larger screens) */

  
.flex-mobile{
    display: flex;
    flex-wrap: wrap;
}
  