.registration-container{
    align-items: start;
    @media (max-width: 600px) {
     align-items: start;       
     /* margin-top: 100px; */
        
    }
}

.questions{
    font-size: 1.2rem;
}
.stepper-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputs-container{
    margin-top: 80px;
}
.reg-button{
margin-top: 200px !important;
@media (max-width: 600px) {
    margin-top: 100px !important;
   }
}
.width-control {
    width: 60%;
    @media (max-width: 600px) {
        width: 95%;
       }
}
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  .fade-in-out {
    animation: fadeInOut 5s infinite; /* Change the duration as needed */
  }